# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/
.ruff_cache/

# Distribution / packaging
.Python
build/
dist/

# Environments
.env
.envrc
.venv
env/
venv/
ENV/

# IDEs and editors
.vscode/

# Personal files
configs/
